<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">Préparation du fichier pour analyse</h1>
</div>

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [1]:
# Importation des bibliothèques nécessaires
import pandas as pd  # Pour la manipulation des données
import numpy as np  # Pour les opérations mathématiques et numériques

In [2]:
#Trouver dans Google l'instruction permettant d'afficher toutes les colonnes d'un dataframe
pd.set_option('display.max_columns', None)

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [3]:
#Importation des fichiers
df_dispo2017 = pd.read_csv("DisponibiliteAlimentaire_2017.csv",sep=',')
df_pop2000_2018= pd.read_csv("Population_2000_2018.csv",sep=',')
Stabilite_politique  = pd.read_excel("wgidataset.xlsx")
distance_pays = pd.read_excel("geo_cepii.xlsx")
kfc_ferme = pd.read_csv("kfc ferme dans le monde.csv",sep=',')
kfc_ouvert = pd.read_csv("kfc ouvert dans le monde.csv",sep=',')
Pib_ppp = pd.read_excel("GDP per capita PPP.xlsx")
Pib_growth = pd.read_excel("GDP per capita growth (annual %).xlsx")
codepays = pd.read_csv("sql-pays(1).csv",sep=',')

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers et combinaison de ceux ci</h2>
</div>

In [4]:
#Afficher les dimensions du dataset
dimensions=df_dispo2017.shape

print(f"Le dataset a {dimensions[0]} lignes et {dimensions[1]} colonnes.")

Le dataset a 176600 lignes et 14 colonnes.

In [5]:
#Consulter le nombre de colonnes
#La nature des données dans chacune des colonnes
#Le nombre de valeurs présentes dans chacune des colonnes
df_dispo2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [6]:
#Afficher les 5 premières lignes de la table
df_dispo2017.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [7]:
pays_unique = sorted(df_dispo2017['Zone'].unique().tolist())
print(pays_unique)

['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne', 'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine', 'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas', 'Bangladesh', 'Barbade', 'Belgique', 'Belize', 'Bermudes', 'Bolivie (État plurinational de)', 'Bosnie-Herzégovine', 'Botswana', 'Brunéi Darussalam', 'Brésil', 'Bulgarie', 'Burkina Faso', 'Bélarus', 'Bénin', 'Cabo Verde', 'Cambodge', 'Cameroun', 'Canada', 'Chili', 'Chine - RAS de Hong-Kong', 'Chine - RAS de Macao', 'Chine, Taiwan Province de', 'Chine, continentale', 'Chypre', 'Colombie', 'Congo', 'Costa Rica', 'Croatie', 'Cuba', "Côte d'Ivoire", 'Danemark', 'Djibouti', 'Dominique', 'El Salvador', 'Espagne', 'Estonie', 'Eswatini', 'Fidji', 'Finlande', 'France', 'Fédération de Russie', 'Gabon', 'Gambie', 'Ghana', 'Grenade', 'Grèce', 'Guatemala', 'Guinée', 'Guinée-Bissau', 'Guyana', 'Géorgie', 'Haïti', 'Honduras', 'Hongrie', 'Inde', 'Indonésie', "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande', 'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan', 'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho', 'Lettonie', 'Liban', 'Libéria', 'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie', 'Mexique', 'Mongolie', 'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Népal', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Pays-Bas', 'Philippines', 'Pologne', 'Polynésie française', 'Portugal', 'Pérou', 'Roumanie', "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda', 'République centrafricaine', 'République de Corée', 'République de Moldova', 'République dominicaine', 'République démocratique populaire lao', 'République populaire démocratique de Corée', 'République-Unie de Tanzanie', 'Saint-Kitts-et-Nevis', 'Saint-Vincent-et-les Grenadines', 'Sainte-Lucie', 'Samoa', 'Sao Tomé-et-Principe', 'Serbie', 'Sierra Leone', 'Slovaquie', 'Slovénie', 'Soudan', 'Sri Lanka', 'Suisse', 'Suriname', 'Suède', 'Sénégal', 'Tadjikistan', 'Tchad', 'Tchéquie', 'Thaïlande', 'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie', 'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu', 'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen', 'Zambie', 'Zimbabwe', 'Égypte', 'Émirats arabes unis', 'Équateur', "États-Unis d'Amérique", 'Éthiopie', 'Îles Salomon']

In [8]:
produits_uniques = sorted(df_dispo2017['Produit'].unique().tolist())
print(produits_uniques)

['Abats Comestible', 'Agrumes, Autres', 'Alcool, non Comestible', 'Aliments pour enfants', 'Ananas et produits', 'Animaux Aquatiques Autre', 'Arachides Decortiquees', 'Avoine', 'Bananes', 'Bananes plantains', 'Beurre, Ghee', 'Bière', 'Blé et produits', 'Boissons Alcooliques', 'Boissons Fermentés', 'Café et produits', 'Cephalopodes', 'Citrons & Limes et produits', 'Coco (Incl Coprah)', 'Crustacés', 'Crème', 'Céréales, Autres', 'Dattes', 'Edulcorants Autres', 'Feve de Cacao et produits', 'Fruits, Autres', 'Girofles', 'Graines Colza/Moutarde', 'Graines de coton', 'Graines de tournesol', 'Graisses Animales Crue', 'Haricots', 'Huil Plantes Oleif Autr', 'Huile Graines de Coton', "Huile d'Arachide", "Huile d'Olive", 'Huile de Coco', 'Huile de Colza&Moutarde', 'Huile de Germe de Maïs', 'Huile de Palme', 'Huile de Palmistes', 'Huile de Soja', 'Huile de Son de Riz', 'Huile de Sésame', 'Huile de Tournesol', 'Huiles de Foie de Poisso', 'Huiles de Poissons', 'Ignames', 'Lait - Excl Beurre', 'Légumes, Autres', 'Légumineuses Autres et produits', 'Manioc et produits', 'Maïs et produits', 'Miel', 'Millet et produits', 'Miscellanees', 'Mollusques, Autres', 'Noix et produits', 'Oeufs', 'Oignons', 'Olives', 'Oranges, Mandarines', 'Orge et produits', 'Palmistes', 'Pamplemousse et produits', 'Patates douces', 'Perciform', 'Piments', 'Plantes Aquatiques', 'Plantes Oleiferes, Autre', 'Pois', 'Poissons Eau Douce', 'Poissons Marins, Autres', 'Poissons Pelagiques', 'Poivre', 'Pommes de Terre et produits', 'Pommes et produits', 'Racines nda', 'Raisin', 'Riz et produits', 'Seigle et produits', 'Soja', 'Sorgho et produits', 'Sucre Eq Brut', 'Sucre non centrifugé', 'Sucre, betterave', 'Sucre, canne', 'Sésame', 'Thé', 'Tomates et produits', "Viande d'Ovins/Caprins", 'Viande de Anim Aquatiq', 'Viande de Bovins', 'Viande de Suides', 'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres']

In [9]:
produits_uniques = sorted(df_dispo2017['Année'].unique().tolist())
print(produits_uniques)

[2017]

In [10]:
#viande de volaille uniquement
df_2017=df_dispo2017[df_dispo2017['Produit'] == 'Viande de Volailles']

In [11]:
produits_uniques = sorted(df_2017['Produit'].unique().tolist())
print(produits_uniques)

['Viande de Volailles']

In [12]:
df_2017

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.00,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.00,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.00,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176396,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,67.00,S,Données standardisées
176397,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles,2017,2017,kg,4.68,Fc,Donnée calculée
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,16.00,Fc,Donnée calculée
176399,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.59,Fc,Donnée calculée
176400,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,0.99,Fc,Donnée calculée

In [13]:
df_2017=df_2017.drop(columns=['Code Domaine','Domaine','Code zone','Code Élément','Code Produit','Produit','Code année','Année','Unité','Symbole','Description du Symbole'])

In [14]:
df_2017

               Zone                                            Élément  Valeur
651     Afghanistan                                         Production   28.00
652     Afghanistan                            Importations - Quantité   29.00
653     Afghanistan                                 Variation de stock    0.00
654     Afghanistan                           Disponibilité intérieure   57.00
655     Afghanistan                                             Pertes    2.00
...             ...                                                ...     ...
176396     Zimbabwe                                         Nourriture   67.00
176397     Zimbabwe  Disponibilité alimentaire en quantité (kg/pers...    4.68
176398     Zimbabwe     Disponibilité alimentaire (Kcal/personne/jour)   16.00
176399     Zimbabwe  Disponibilité de protéines en quantité (g/pers...    1.59
176400     Zimbabwe  Disponibilité de matière grasse en quantité (g...    0.99

[2061 rows x 3 columns]

In [15]:
pivot_df=pd.pivot_table(df_2017,values='Valeur',index='Zone',columns='Élément',aggfunc='sum')

In [16]:
pivot_df

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,NaN,NaN,NaN,147.0,43.47,9.25,14.80,412.0,94.0,433.0,412.0,NaN,48.0,0.0,NaN,NaN,-26.0
Équateur,0.0,NaN,NaN,83.0,19.31,6.35,6.15,341.0,0.0,0.0,324.0,17.0,340.0,0.0,NaN,NaN,-1.0
États-Unis d'Amérique,NaN,NaN,89.0,219.0,55.68,14.83,19.93,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,NaN,77.0,80.0
Éthiopie,0.0,NaN,NaN,0.0,0.13,0.03,0.04,14.0,NaN,1.0,14.0,1.0,14.0,0.0,NaN,NaN,0.0
Îles Salomon,0.0,NaN,NaN,18.0,4.45,1.31,1.51,3.0,0.0,6.0,3.0,NaN,0.0,0.0,NaN,NaN,3.0

In [17]:
pivot_df.drop(columns=['Alimentation pour touristes', 'Aliments pour animaux', 'Autres utilisations (non alimentaire)','Disponibilité de matière grasse en quantité (g/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)','Semences','Traitement','Variation de stock'], inplace=True)

In [18]:
pivot_df=pivot_df.reset_index()

In [19]:
pivot_df

Élément,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0
...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0

In [20]:
pivot_df['Zone'].nunique()

172

In [21]:
codepays.head(5)

,id,code,alpha2,alpha3,nom_fr,nom_en,projet,kfc
0,1,4,AF,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan
1,2,8,AL,ALB,Albanie,Albania,Albanie,Albanie
2,3,10,AQ,ATA,Antarctique,Antarctica,Antarctique,Antarctique
3,4,12,DZ,DZA,Algérie,Algeria,Algérie,Algérie
4,5,16,AS,ASM,Samoa Américaines,American Samoa,Samoa Américaines,Samoa Américaines

In [22]:
codepays

,id,code,alpha2,alpha3,nom_fr,nom_en,projet,kfc
0,1,4,AF,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan
1,2,8,AL,ALB,Albanie,Albania,Albanie,Albanie
2,3,10,AQ,ATA,Antarctique,Antarctica,Antarctique,Antarctique
3,4,12,DZ,DZA,Algérie,Algeria,Algérie,Algérie
4,5,16,AS,ASM,Samoa Américaines,American Samoa,Samoa Américaines,Samoa Américaines
...,...,...,...,...,...,...,...,...
237,238,882,WS,WSM,Samoa,Samoa,Samoa,Samoa
238,239,887,YE,YEM,Yémen,Yemen,Yémen,Yémen
239,240,891,CS,MNE,Serbie-et-Monténégro,Serbia and Montenegro,Monténégro,Serbie
240,240,891,CS,SRB,Serbie-et-Monténégro,Serbia and Montenegro,Serbie,Kosovo
241,241,894,ZM,ZMB,Zambie,Zambia,Zambie,Zambie

In [23]:
df_merged = pd.merge(pivot_df, codepays, left_on='Zone', right_on='projet', how='left')
df_merged.head(5)

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,id,code,alpha2,alpha3,nom_fr,nom_en,projet,kfc
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,1,4,AF,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,201,710,ZA,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,2,8,AL,ALB,Albanie,Albania,Albanie,Albanie
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,4,12,DZ,DZA,Algérie,Algeria,Algérie,Algérie
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,84,276,DE,DEU,Allemagne,Germany,Allemagne,Allemagne

In [24]:
df_merged

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,id,code,alpha2,alpha3,nom_fr,nom_en,projet,kfc
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,1,4,AF,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,201,710,ZA,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,2,8,AL,ALB,Albanie,Albania,Albanie,Albanie
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,4,12,DZ,DZA,Algérie,Algeria,Algérie,Algérie
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,84,276,DE,DEU,Allemagne,Germany,Allemagne,Allemagne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0,218,784,AE,ARE,Émirats Arabes Unis,United Arab Emirates,Émirats arabes unis,Emirats-Arabes
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0,63,218,EC,ECU,Équateur,Ecuador,Équateur,Équateur
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,231,840,US,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0,66,231,ET,ETH,Éthiopie,Ethiopia,Éthiopie,Éthiopie
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0,28,90,SB,SLB,Îles Salomon,Solomon Islands,Îles Salomon,Îles Salomon

In [25]:
df_merged['alpha3'].unique()

array(['AFG', 'ZAF', 'ALB', 'DZA', 'DEU', 'AGO', 'ATG', 'SAU', 'ARG',
       'ARM', 'AUS', 'AUT', 'AZE', 'BHS', 'BGD', 'BRB', 'BEL', 'BLZ',
       'BOL', 'BIH', 'BWA', 'BRA', 'BGR', 'BFA', 'BLR', 'BEN', 'CPV',
       'KHM', 'CMR', 'CAN', 'CHL', 'HKG', 'MAC', 'TWN', 'CHN', 'CYP',
       'COL', 'COG', 'CRI', 'HRV', 'CUB', 'CIV', 'DNK', 'DJI', 'DMA',
       'SLV', 'ESP', 'EST', 'SWZ', 'FJI', 'FIN', 'FRA', 'RUS', 'GAB',
       'GMB', 'GHA', 'GRD', 'GRC', 'GTM', 'GIN', 'GNB', 'GUY', 'GEO',
       'HTI', 'HND', 'HUN', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISL',
       'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KGZ', 'KIR',
       'KWT', 'LSO', 'LVA', 'LBN', 'LBR', 'LTU', 'LUX', 'MKD', 'MDG',
       'MYS', 'MWI', 'MDV', 'MLI', 'MLT', 'MAR', 'MUS', 'MRT', 'MEX',
       'MNG', 'MNE', 'MOZ', 'MMR', 'NAM', 'NIC', 'NER', 'NGA', 'NOR',
       'NCL', 'NZL', 'NPL', 'OMN', 'UGA', 'UZB', 'PAK', 'PAN', 'PRY',
       'NLD', 'PHL', 'POL', 'PYF', 'PRT', 'PER', 'ROM', 'GBR', 'RWA',
       'CAF', 'KOR', 'MDA', 'DOM', 'LAO', 'PRK', 'TZA', 'KNA', 'VCT',
       'LCA', 'WSM', 'STP', 'SRB', 'SLE', 'SVK', 'SVN', 'SDN', 'LKA',
       'CHE', 'SUR', 'SWE', 'SEN', 'TJK', 'TCD', 'CZE', 'THA', 'TMP',
       'TGO', 'TTO', 'TUN', 'TKM', 'TUR', 'UKR', 'URY', 'VUT', 'VEN',
       'VNM', 'YEM', 'ZMB', 'ZWE', 'EGY', 'ARE', 'ECU', 'USA', 'ETH',
       'SLB'], dtype=object)

In [26]:
df_merged['alpha3'].nunique()

172

In [27]:
duplicate_alpha3 = df_merged[df_merged['alpha3'].duplicated(keep=False)].sort_values(by='alpha3')

# Vérification des duplicatas de alpha3
print("Valeur Alpha3 en double:")
print(duplicate_alpha3[['alpha3', 'Zone']])  # Zone en plus pour contexte

# Compter le nombre de fois que chaque alpha3 apparait
alpha3_counts = df_merged['alpha3'].value_counts()
print("\n nombre de chaque valeur:")
print(alpha3_counts)

# il y a t'il des doublons?
duplicated_value = alpha3_counts[alpha3_counts > 1].index.tolist()
print(f"\n alpha3 en doublons?: {duplicated_value}")

# Il y a des lignes manquantes?
alpha_missing = df_merged[df_merged['alpha3'].isnull()]
print("\n ligne manquantes:")
print(alpha_missing)

Valeur Alpha3 en double:
Empty DataFrame
Columns: [alpha3, Zone]
Index: []

 nombre de chaque valeur:
alpha3
AFG    1
ZAF    1
ALB    1
DZA    1
DEU    1
      ..
ARE    1
ECU    1
USA    1
ETH    1
SLB    1
Name: count, Length: 172, dtype: int64

 alpha3 en doublons?: []

 ligne manquantes:
Empty DataFrame
Columns: [Zone, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Pertes, Production, Résidus, id, code, alpha2, alpha3, nom_fr, nom_en, projet, kfc]
Index: []

In [28]:
# Assuming df_merged is your DataFrame
nan_rows = df_merged[df_merged['alpha3'].isnull()]

# Display rows with NaN values in 'alpha3'
print("ligne avec des NaN:")
print(nan_rows)

ligne avec des NaN:
Empty DataFrame
Columns: [Zone, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Pertes, Production, Résidus, id, code, alpha2, alpha3, nom_fr, nom_en, projet, kfc]
Index: []

In [29]:
df_merged=df_merged.drop(columns=['id','alpha2','code'])

In [30]:
df_merged['alpha3'].nunique()

172

In [31]:
df_merged.head()

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne

In [112]:
Stabilite_politique.head(5)

,codeindyr,code,countryname,year,indicator,estimate,stddev,nsource,pctrank,pctranklower,pctrankupper
0,AFGcc1996,AFG,Afghanistan,1996,cc,-1.291705,0.340507,2,4.301075,0,27.419355
1,ALBcc1996,ALB,Albania,1996,cc,-0.893903,0.315914,3,19.354839,2.688172,43.010754
2,DZAcc1996,DZA,Algeria,1996,cc,-0.566741,0.262077,4,33.333332,16.666666,52.688171
3,ASMcc1996,ASM,American Samoa,1996,cc,..,..,..,..,..,..
4,ADOcc1996,ADO,Andorra,1996,cc,1.318143,0.480889,1,87.096771,72.043015,96.774193

In [33]:
#mettre les données 2017 
Stabilite_politique_finale=Stabilite_politique[Stabilite_politique['year']==2017]

In [34]:
Stabilite_politique_finale

,codeindyr,code,countryname,year,indicator,estimate,stddev,nsource,pctrank,pctranklower,pctrankupper
23112,AFGcc2017,AFG,Afghanistan,2017,cc,-1.530075,0.162056,10,3.809524,0,9.523809
23113,ALBcc2017,ALB,Albania,2017,cc,-0.481387,0.126292,11,40.476189,26.666666,46.190475
23114,DZAcc2017,DZA,Algeria,2017,cc,-0.598896,0.143042,10,31.904762,20.952381,42.857143
23115,ASMcc2017,ASM,American Samoa,2017,cc,1.762287,0.39993,1,93.809525,81.904762,100
23116,ADOcc2017,ADO,Andorra,2017,cc,1.171781,0.39993,1,86.190475,67.14286,95.238098
...,...,...,...,...,...,...,...,...,...,...,...
24391,VIRva2017,VIR,Virgin Islands (U.S.),2017,va,..,..,..,..,..,..
24392,WBGva2017,WBG,West Bank and Gaza,2017,va,-1.031218,0.166893,5,21.674877,12.315271,24.630543
24393,YEMva2017,YEM,"Yemen, Rep.",2017,va,-1.691127,0.135355,10,5.418719,1.970443,7.881773
24394,ZMBva2017,ZMB,Zambia,2017,va,-0.335767,0.122461,14,36.453201,32.019703,41.871922
24395,ZWEva2017,ZWE,Zimbabwe,2017,va,-1.196371,0.119742,15,14.778325,10.837439,21.674877

In [35]:
stabilite_politique_reduit = Stabilite_politique_finale[['code', 'countryname', 'indicator','estimate']]

In [36]:
stabilite_politique_reduit

      code            countryname indicator  estimate
23112  AFG            Afghanistan        cc -1.530075
23113  ALB                Albania        cc -0.481387
23114  DZA                Algeria        cc -0.598896
23115  ASM         American Samoa        cc  1.762287
23116  ADO                Andorra        cc  1.171781
...    ...                    ...       ...       ...
24391  VIR  Virgin Islands (U.S.)        va        ..
24392  WBG     West Bank and Gaza        va -1.031218
24393  YEM            Yemen, Rep.        va -1.691127
24394  ZMB                 Zambia        va -0.335767
24395  ZWE               Zimbabwe        va -1.196371

[1284 rows x 4 columns]

In [37]:
# pivoté la table
stabilite_pivot = pd.pivot_table(stabilite_politique_reduit, values='estimate', index=['code','countryname'], columns='indicator', aggfunc='sum')

# Definir les noms des colones en français 
french_column_names = {
    'cc': 'Contrôle de la Corruption',
    'ge': 'Efficacité du Gouvernement',
    'pv': 'Stabilité Politique et Absence de Violence',
    'rl': 'État de Droit',
    'rq': 'Qualité de la Réglementation',
    'va': 'Voix et Responsabilité'
}

# renommer les colonnes
stabilite_pivot = stabilite_pivot.rename(columns=french_column_names)

# Aplatir les en-têtes de colonnes (supprimer le niveau d’indicateur)
stabilite_pivot.columns.name = ''

display(stabilite_pivot)

,,Contrôle de la Corruption,Efficacité du Gouvernement,Stabilité Politique et Absence de Violence,État de Droit,Qualité de la Réglementation,Voix et Responsabilité
code,countryname,,,,,,
ABW,Aruba,1.239614,0.87597,1.313846,1.295843,1.181481,1.295654
ADO,Andorra,1.171781,1.876946,1.39289,1.535569,1.200185,1.161519
AFG,Afghanistan,-1.530075,-1.386597,-2.794976,-1.581176,-1.36301,-0.990954
AGO,Angola,-1.445172,-0.951989,-0.387895,-1.039982,-1.045467,-1.095243
AIA,Anguilla,1.171781,0.78377,1.358391,-0.146305,0.831706,..
...,...,...,...,...,...,...,...
YEM,"Yemen, Rep.",-1.616803,-1.952005,-2.934317,-1.757111,-1.481473,-1.691127
ZAF,South Africa,-0.127773,0.070796,-0.284804,-0.156248,0.138878,0.630275
ZAR,"Congo, Dem. Rep.",-1.445294,-1.666516,-2.33944,-1.711099,-1.480562,-1.464156
ZMB,Zambia,-0.567572,-0.700345,0.142043,-0.339935,-0.516228,-0.335767
ZWE,Zimbabwe,-1.298115,-1.280239,-0.710431,-1.395403,-1.577554,-1.196371

In [38]:
#regarder quelle indicator garder

In [39]:
# Reset l'index pour que 'countryname' soit une colonne et non un index
stabilite_pivot = stabilite_pivot.reset_index()


display(stabilite_pivot)

,code,countryname,Contrôle de la Corruption,Efficacité du Gouvernement,Stabilité Politique et Absence de Violence,État de Droit,Qualité de la Réglementation,Voix et Responsabilité
0,ABW,Aruba,1.239614,0.87597,1.313846,1.295843,1.181481,1.295654
1,ADO,Andorra,1.171781,1.876946,1.39289,1.535569,1.200185,1.161519
2,AFG,Afghanistan,-1.530075,-1.386597,-2.794976,-1.581176,-1.36301,-0.990954
3,AGO,Angola,-1.445172,-0.951989,-0.387895,-1.039982,-1.045467,-1.095243
4,AIA,Anguilla,1.171781,0.78377,1.358391,-0.146305,0.831706,..
...,...,...,...,...,...,...,...,...
209,YEM,"Yemen, Rep.",-1.616803,-1.952005,-2.934317,-1.757111,-1.481473,-1.691127
210,ZAF,South Africa,-0.127773,0.070796,-0.284804,-0.156248,0.138878,0.630275
211,ZAR,"Congo, Dem. Rep.",-1.445294,-1.666516,-2.33944,-1.711099,-1.480562,-1.464156
212,ZMB,Zambia,-0.567572,-0.700345,0.142043,-0.339935,-0.516228,-0.335767
213,ZWE,Zimbabwe,-1.298115,-1.280239,-0.710431,-1.395403,-1.577554,-1.196371

In [40]:
stabilite_pivot=stabilite_pivot[['code','countryname','Stabilité Politique et Absence de Violence']]

In [41]:
stabilite_pivot

    code       countryname Stabilité Politique et Absence de Violence
0    ABW             Aruba                                   1.313846
1    ADO           Andorra                                    1.39289
2    AFG       Afghanistan                                  -2.794976
3    AGO            Angola                                  -0.387895
4    AIA          Anguilla                                   1.358391
..   ...               ...                                        ...
209  YEM       Yemen, Rep.                                  -2.934317
210  ZAF      South Africa                                  -0.284804
211  ZAR  Congo, Dem. Rep.                                   -2.33944
212  ZMB            Zambia                                   0.142043
213  ZWE          Zimbabwe                                  -0.710431

[214 rows x 3 columns]

In [42]:
stabilite_pivot['code'].nunique()

214

In [43]:
df_merged2 = pd.merge(df_merged, stabilite_pivot, right_on='code', left_on='alpha3', how='left',indicator=True)
display(df_merged2)

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,_merge
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,both
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,both
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,both
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,both
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0,ARE,Émirats Arabes Unis,United Arab Emirates,Émirats arabes unis,Emirats-Arabes,ARE,United Arab Emirates,0.60195,both
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0,ECU,Équateur,Ecuador,Équateur,Équateur,ECU,Ecuador,-0.078932,both
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis,USA,United States,0.262138,both
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0,ETH,Éthiopie,Ethiopia,Éthiopie,Éthiopie,ETH,Ethiopia,-1.677231,both
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0,SLB,Îles Salomon,Solomon Islands,Îles Salomon,Îles Salomon,SLB,Solomon Islands,0.188089,both

In [44]:
df_merged2['Zone'].nunique()

172

In [45]:

nan_rows = df_merged2[df_merged2['alpha3'].isnull()]


print("ligne avec des NaN:")
print(nan_rows)

ligne avec des NaN:
Empty DataFrame
Columns: [Zone, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Pertes, Production, Résidus, alpha3, nom_fr, nom_en, projet, kfc, code, countryname, Stabilité Politique et Absence de Violence, _merge]
Index: []

In [46]:
# Afficher la description de toutes les colonnes
print(df_merged2.describe(include='all'))

# Afficher le type de toutes les colonnes
print("\nData types of columns:")
print(df_merged2.dtypes)

               Zone  Disponibilité alimentaire (Kcal/personne/jour)  \
count           172                                      172.000000
unique          172                                             NaN
top     Afghanistan                                             NaN
freq              1                                             NaN
mean            NaN                                       74.558140
std             NaN                                       60.571277
min             NaN                                        0.000000
25%             NaN                                       22.000000
50%             NaN                                       64.000000
75%             NaN                                      105.500000
max             NaN                                      243.000000

        Disponibilité alimentaire en quantité (kg/personne/an)  \
count                                          172.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                            20.213372
std                                             15.860311
min                                              0.130000
25%                                              6.440000
50%                                             18.090000
75%                                             30.037500
max                                             72.310000

        Disponibilité intérieure  Exportations - Quantité  \
count                 170.000000               135.000000
unique                       NaN                      NaN
top                          NaN                      NaN
freq                         NaN                      NaN
mean                  687.594118               132.185185
std                  2187.184747               513.784440
min                     2.000000                 0.000000
25%                    30.500000                 0.000000
50%                   100.000000                 3.000000
75%                   368.250000                32.000000
max                 18266.000000              4223.000000

        Importations - Quantité    Nourriture      Pertes    Production  \
count                170.000000    170.000000   67.000000    168.000000
unique                      NaN           NaN         NaN           NaN
top                         NaN           NaN         NaN           NaN
freq                        NaN           NaN         NaN           NaN
mean                  89.529412    657.047059   43.582090    725.190476
std                  186.669983   2136.545796  120.818816   2501.457125
min                    0.000000      2.000000    0.000000      0.000000
25%                    3.000000     28.500000    1.000000     13.750000
50%                   16.000000     99.500000    4.000000     70.000000
75%                   81.250000    365.250000   29.500000    409.750000
max                 1069.000000  18100.000000  695.000000  21914.000000

           Résidus alpha3                nom_fr                 nom_en  \
count   164.000000    172                   172                    172
unique         NaN    172                   171                    171
top            NaN    AFG  Serbie-et-Monténégro  Serbia and Montenegro
freq           NaN      1                     2                      2
mean     -2.835366    NaN                   NaN                    NaN
std      13.579702    NaN                   NaN                    NaN
min    -125.000000    NaN                   NaN                    NaN
25%       0.000000    NaN                   NaN                    NaN
50%       0.000000    NaN                   NaN                    NaN
75%       0.000000    NaN                   NaN                    NaN
max       0.000000    NaN                   NaN                    NaN

             projet          kfc code  countryname  \
count           172          172  170          170
unique          172          172  170          170
top     Afghanistan  Afghanistan  AFG  Afghanistan
freq              1            1    1            1
mean            NaN          NaN  NaN          NaN
std             NaN          NaN  NaN          NaN
min             NaN          NaN  NaN          NaN
25%             NaN          NaN  NaN          NaN
50%             NaN          NaN  NaN          NaN
75%             NaN          NaN  NaN          NaN
max             NaN          NaN  NaN          NaN

        Stabilité Politique et Absence de Violence _merge
count                                   170.000000    172
unique                                  170.000000      2
top                                      -2.794976   both
freq                                      1.000000    170
mean                                           NaN    NaN
std                                            NaN    NaN
min                                            NaN    NaN
25%                                            NaN    NaN
50%                                            NaN    NaN
75%                                            NaN    NaN
max                                            NaN    NaN

Data types of columns:
Zone                                                        object
Disponibilité alimentaire (Kcal/personne/jour)             float64
Disponibilité alimentaire en quantité (kg/personne/an)     float64
Disponibilité intérieure                                   float64
Exportations - Quantité                                    float64
Importations - Quantité                                    float64
Nourriture                                                 float64
Pertes                                                     float64
Production                                                 float64
Résidus                                                    float64
alpha3                                                      object
nom_fr                                                      object
nom_en                                                      object
projet                                                      object
kfc                                                         object
code                                                        object
countryname                                                 object
Stabilité Politique et Absence de Violence                  object
_merge                                                    category
dtype: object

In [47]:
# nombre de zone unique
unique_zone_count = df_merged2['Zone'].nunique()

# nombre de ligne de la base de donnée
total_rows = len(df_merged2)

# vérification si des lignes sont en doubles
extra_rows = df_merged2[df_merged2['Zone'].duplicated(keep=False)]

print("Valeur unique dans 'Zone':", unique_zone_count)
print("Nombre de lignes:", total_rows)
print("\nRows Lignes à problème:")
print(extra_rows)

Valeur unique dans 'Zone': 172
Nombre de lignes: 172

Rows Lignes à problème:
Empty DataFrame
Columns: [Zone, Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Nourriture, Pertes, Production, Résidus, alpha3, nom_fr, nom_en, projet, kfc, code, countryname, Stabilité Politique et Absence de Violence, _merge]
Index: []

In [48]:
# calcul des valeurs manquantes
missing_values = df_merged2.isnull().sum()

# liste des valeurs manquantes
print(missing_values)

# identifier les lignes avec des données manquantes
missing_rows = df_merged2[df_merged2['_merge'] == 'left_only']

# Valeurs manquantes
print(missing_rows)

# lignes colonnes de la base de donnée
print("forme de la base de donnée", df_merged2.shape)

# nombre de valeur unique code
unique_codes_count = df_merged2['code'].nunique()
print("nombre de valeur unique dans la colonne 'code' :", unique_codes_count)

Zone                                                        0
Disponibilité alimentaire (Kcal/personne/jour)              0
Disponibilité alimentaire en quantité (kg/personne/an)      0
Disponibilité intérieure                                    2
Exportations - Quantité                                    37
Importations - Quantité                                     2
Nourriture                                                  2
Pertes                                                    105
Production                                                  4
Résidus                                                     8
alpha3                                                      0
nom_fr                                                      0
nom_en                                                      0
projet                                                      0
kfc                                                         0
code                                                        2
countryname                                                 2
Stabilité Politique et Absence de Violence                  2
_merge                                                      0
dtype: int64
                    Zone  Disponibilité alimentaire (Kcal/personne/jour)  \
108   Nouvelle-Calédonie                                           136.0
120  Polynésie française                                           167.0

     Disponibilité alimentaire en quantité (kg/personne/an)  \
108                                              38.71
120                                              47.40

     Disponibilité intérieure  Exportations - Quantité  \
108                      11.0                      NaN
120                      15.0                      0.0

     Importations - Quantité  Nourriture  Pertes  Production  Résidus alpha3  \
108                      9.0        11.0     NaN         1.0      0.0    NCL
120                     15.0        13.0     NaN         1.0      0.0    PYF

                  nom_fr            nom_en               projet  \
108   Nouvelle-Calédonie     New Caledonia   Nouvelle-Calédonie
120  Polynésie Française  French Polynesia  Polynésie française

                     kfc code countryname  \
108   Nouvelle-Calédonie  NaN         NaN
120  Polynésie Française  NaN         NaN

    Stabilité Politique et Absence de Violence     _merge
108                                        NaN  left_only
120                                        NaN  left_only
forme de la base de donnée (172, 19)
nombre de valeur unique dans la colonne 'code' : 170

In [49]:
# identifier les lignes qui posent problemes
mismatched_rows = df_merged2[df_merged2['_merge'] == 'left_only']

# montrer les lignes à problèmes
print("Lignes avec des erreures ou des informations manquantes:")
print(mismatched_rows[['code', 'countryname', 'alpha3', 'nom_fr', 'nom_en', 'projet', '_merge','projet','kfc']])

Lignes avec des erreures ou des informations manquantes:
    code countryname alpha3               nom_fr            nom_en  \
108  NaN         NaN    NCL   Nouvelle-Calédonie     New Caledonia
120  NaN         NaN    PYF  Polynésie Française  French Polynesia

                  projet     _merge               projet                  kfc
108   Nouvelle-Calédonie  left_only   Nouvelle-Calédonie   Nouvelle-Calédonie
120  Polynésie française  left_only  Polynésie française  Polynésie Française

In [50]:
mismatched_rows

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,_merge
108,Nouvelle-Calédonie,136.0,38.71,11.0,NaN,9.0,11.0,NaN,1.0,0.0,NCL,Nouvelle-Calédonie,New Caledonia,Nouvelle-Calédonie,Nouvelle-Calédonie,NaN,NaN,NaN,left_only
120,Polynésie française,167.0,47.40,15.0,0.0,15.0,13.0,NaN,1.0,0.0,PYF,Polynésie Française,French Polynesia,Polynésie française,Polynésie Française,NaN,NaN,NaN,left_only

In [51]:
lignes_sans_equivalence = df_merged2[df_merged2['_merge'] == 'left_only']

In [52]:
nan_countries = df_merged2[df_merged2['nom_fr'].isnull()]
print("\nCountries with NaN values in 'nom_fr':")
print(nan_countries[['code', 'countryname', 'alpha3', 'nom_fr', 'nom_en', 'projet']])

Countries with NaN values in 'nom_fr':
Empty DataFrame
Columns: [code, countryname, alpha3, nom_fr, nom_en, projet]
Index: []

In [53]:
liste_zones_uniques = lignes_sans_equivalence['nom_fr'].unique()
print("Liste des pays sans donnée stabilité politique :")
print(liste_zones_uniques)

Liste des pays sans donnée stabilité politique :
['Nouvelle-Calédonie' 'Polynésie Française']

In [54]:
df_merged2

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,_merge
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,both
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,both
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,both
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,both
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0,ARE,Émirats Arabes Unis,United Arab Emirates,Émirats arabes unis,Emirats-Arabes,ARE,United Arab Emirates,0.60195,both
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0,ECU,Équateur,Ecuador,Équateur,Équateur,ECU,Ecuador,-0.078932,both
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis,USA,United States,0.262138,both
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0,ETH,Éthiopie,Ethiopia,Éthiopie,Éthiopie,ETH,Ethiopia,-1.677231,both
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0,SLB,Îles Salomon,Solomon Islands,Îles Salomon,Îles Salomon,SLB,Solomon Islands,0.188089,both

In [55]:
liste_zones_uniques = lignes_sans_equivalence['countryname'].unique()
print("Liste des pays sans donnée stabilité politique :")
print(liste_zones_uniques)

Liste des pays sans donnée stabilité politique :
[nan]

In [56]:
nombre_zones_uniques = lignes_sans_equivalence['countryname'].nunique()
print(f"Nombre de pays sans donnée stabilité politique  : {nombre_zones_uniques}")

Nombre de pays sans donnée stabilité politique  : 0

In [57]:
lignes_avec_equivalence = df_merged2[df_merged2['_merge'] != 'left_only']
liste_zones_uniques_other = lignes_avec_equivalence['countryname'].unique()
print("Liste des pays avec donnée stabilité politique :")
print(liste_zones_uniques_other)

Liste des pays avec donnée stabilité politique :
['Afghanistan' 'South Africa' 'Albania' 'Algeria' 'Germany' 'Angola'
 'Antigua and Barbuda' 'Saudi Arabia' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bangladesh' 'Barbados' 'Belgium'
 'Belize' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Bulgaria' 'Burkina Faso' 'Belarus' 'Benin' 'Cape Verde' 'Cambodia'
 'Cameroon' 'Canada' 'Chile' 'Hong Kong SAR, China' 'Macao SAR, China'
 'Taiwan, China' 'China' 'Cyprus' 'Colombia' 'Congo, Rep.' 'Costa Rica'
 'Croatia' 'Cuba' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'El Salvador' 'Spain' 'Estonia' 'Eswatini' 'Fiji' 'Finland' 'France'
 'Russian Federation' 'Gabon' 'Gambia, The' 'Ghana' 'Grenada' 'Greece'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Georgia' 'Haiti'
 'Honduras' 'Hungary' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq'
 'Ireland' 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kyrgyz Republic' 'Kiribati' 'Kuwait' 'Lesotho'
 'Latvia' 'Lebanon' 'Liberia' 'Lithuania' 'Luxembourg' 'North Macedonia'
 'Madagascar' 'Malaysia' 'Malawi' 'Maldives' 'Mali' 'Malta' 'Morocco'
 'Mauritius' 'Mauritania' 'Mexico' 'Mongolia' 'Montenegro' 'Mozambique'
 'Myanmar' 'Namibia' 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'New Zealand'
 'Nepal' 'Oman' 'Uganda' 'Uzbekistan' 'Pakistan' 'Panama' 'Paraguay'
 'Netherlands' 'Philippines' 'Poland' 'Portugal' 'Peru' 'Romania'
 'United Kingdom' 'Rwanda' 'Central African Republic' 'Korea, Rep.'
 'Moldova' 'Dominican Republic' 'Lao PDR' 'Korea, Dem. Rep.' 'Tanzania'
 'St. Kitts and Nevis' 'St. Vincent and the Grenadines' 'St. Lucia'
 'Samoa' 'São Tomé and Principe' 'Serbia' 'Sierra Leone' 'Slovak Republic'
 'Slovenia' 'Sudan' 'Sri Lanka' 'Switzerland' 'Suriname' 'Sweden'
 'Senegal' 'Tajikistan' 'Chad' 'Czech Republic' 'Thailand' 'Timor-Leste'
 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Türkiye' 'Ukraine'
 'Uruguay' 'Vanuatu' 'Venezuela, RB' 'Viet Nam' 'Yemen, Rep.' 'Zambia'
 'Zimbabwe' 'Egypt, Arab Rep.' 'United Arab Emirates' 'Ecuador'
 'United States' 'Ethiopia' 'Solomon Islands']

In [58]:
del df_merged2['_merge']

In [59]:
distance_pays.head(5)

,iso2,iso3,cnum,country,pays,area,dis_int,landlocked,continent,city_en,city_fr,lat,lon,cap,maincity,citynum,langoff_1,langoff_2,langoff_3,lang20_1,lang20_2,lang20_3,lang20_4,lang9_1,lang9_2,lang9_3,lang9_4,colonizer1,colonizer2,colonizer3,colonizer4,short_colonizer1,short_colonizer2,short_colonizer3
0,AW,ABW,533,Aruba,Aruba,193,5.225315,0,America,Oranjestad,Oranjestad,12.550000,-70.10000,1,1,2,Dutch,Spanish,.,Dutch,English,Papiamento,.,.,.,.,.,NLD,.,.,.,.,.,.
1,AF,AFG,4,Afghanistan,Afghanistan,652225,303.761400,1,Asia,Kabul,Kaboul,34.516670,69.20000,1,1,25,Persian,.,.,Persian,Pashtu,.,.,Hazaragi,Uzbek,.,.,.,.,.,.,GBR,.,.
2,AO,AGO,24,Angola,Angola,1246700,419.966600,0,Africa,Luanda,Luanda,-8.833333,13.25000,1,1,25,Portuguese,.,.,Portuguese,Umbundu,Mbundu Loanda,.,Kongo,.,.,.,PRT,.,.,.,.,.,.
3,AI,AIA,660,Anguilla,Anguilla,102,3.798690,0,America,The Valley,The Valley,18.216670,-63.06667,1,1,2,English,.,.,English,Leeward Caribbean Creole English,.,.,.,.,.,.,GBR,.,.,.,.,.,.
4,AL,ALB,8,Albania,Albanie,28748,63.773110,0,Europe,Tirana,Tirana,41.333330,19.81667,1,1,25,Albanian,.,.,Albanian,.,.,.,.,.,.,.,TUR,.,.,.,.,.,.

In [60]:
df_merged3 = pd.merge(df_merged2, distance_pays[['iso3', 'lat', 'lon']], left_on='alpha3', right_on='iso3', how='left', suffixes=('', '_df2'))

In [113]:
from geopy.distance import geodesic

# Coordonnées de Paris (représentant la France)
france = (48.8566, 2.3522)

# Fonction pour calculer la distance
def calculer_distance(row):
    pays = (row['lat'], row['lon'])
    return geodesic(france, pays).kilometers

# Appliquez la fonction à chaque ligne du DataFrame
distance_pays['distance_france'] = distance_pays.apply(calculer_distance, axis=1)

# Affichez les résultats
distance_final=distance_pays[['iso3','pays', 'distance_france']]
display(distance_final.head(5))

  iso3         pays  distance_france
0  ABW        Aruba      7684.932992
1  AFG  Afghanistan      5596.702065
2  AGO       Angola      6479.116601
3  AIA     Anguilla      6711.843550
4  ALB      Albanie      1603.327048

In [62]:
# 1. Compter les occurrences de chaque pays
dup_counts = distance_final['pays'].value_counts()

# 2. Filtrer uniquement les pays ayant des doublons (>1 occurrence)
duplicates = dup_counts[dup_counts > 1]

# 3. Convertir en DataFrame explicite
df_duplicates = duplicates.reset_index()
df_duplicates.columns = ['pays', 'nombre_doublons']

# Afficher le résultat
print(df_duplicates.sort_values('pays'))

                     pays  nombre_doublons
10         Afrique du Sud                2
6               Allemagne                2
0               Australie                2
2                 Bolivie                2
1                  Brésil                2
3                   Bénin                2
4                  Canada                2
5           Côte d'Ivoire                2
9   Etats-Unis d'Amérique                2
8               Kazakstan                2
7                 Nigéria                2
12               Tanzanie                2
11                Turquie                2

In [63]:
# Groupement par iso3 et calcul de la moyenne
distance_groupby = distance_final.groupby('iso3', as_index=False).agg({
    'pays': 'first',  # Garder le premier nom de pays associé à l'iso3
    'distance_france': 'mean'
})

# Réorganiser les colonnes
df_distance_pays = distance_groupby[['iso3', 'pays', 'distance_france']]

# Afficher le résultat
print(df_distance_pays)

    iso3                                   pays  distance_france
0    ABW                                  Aruba      7684.932992
1    AFG                            Afghanistan      5596.702065
2    AGO                                 Angola      6479.116601
3    AIA                               Anguilla      6711.843550
4    ALB                                Albanie      1603.327048
..   ...                                    ...              ...
220  YUG  Serbie et Monténégro (ex-Yougoslavie)      1450.559726
221  ZAF                         Afrique du Sud      8980.612037
222  ZAR                    Congo, Rép. dém. du      6021.862201
223  ZMB                                 Zambie      7571.009075
224  ZWE                               Zimbabwe      7914.783383

[225 rows x 3 columns]

In [64]:
# 1. Compter les occurrences de chaque pays
dup_counts = df_distance_pays['pays'].value_counts()

# 2. Filtrer uniquement les pays ayant des doublons (>1 occurrence)
duplicates = dup_counts[dup_counts > 1]

# 3. Convertir en DataFrame explicite
df_duplicates = duplicates.reset_index()
df_duplicates.columns = ['pays', 'nombre_doublons']

# Afficher le résultat
print(df_duplicates.sort_values('pays'))

Empty DataFrame
Columns: [pays, nombre_doublons]
Index: []

In [65]:
print(df_distance_pays.columns.tolist())

['iso3', 'pays', 'distance_france']

In [66]:
df_merged3 = pd.merge(df_merged2, df_distance_pays, left_on='alpha3', right_on='iso3', how='left', suffixes=('', '_df2'))
df_merged3

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,iso3,pays,distance_france
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,AFG,Afghanistan,5596.702065
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,ZAF,Afrique du Sud,8980.612037
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,ALB,Albanie,1603.327048
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,DZA,Algérie,1336.701248
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,DEU,Allemagne,660.545159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0,ARE,Émirats Arabes Unis,United Arab Emirates,Émirats arabes unis,Emirats-Arabes,ARE,United Arab Emirates,0.60195,ARE,Emirats arabes unis,5249.080717
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0,ECU,Équateur,Ecuador,Équateur,Équateur,ECU,Ecuador,-0.078932,ECU,Equateur,9359.005494
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis,USA,United States,0.262138,USA,Etats-Unis d'Amérique,6015.584738
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0,ETH,Éthiopie,Ethiopia,Éthiopie,Éthiopie,ETH,Ethiopia,-1.677231,ETH,Ethiopie,5568.811261
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0,SLB,Îles Salomon,Solomon Islands,Îles Salomon,Îles Salomon,SLB,Solomon Islands,0.188089,SLB,Îles Salomon,15167.479775

In [67]:
kfc_ferme.head(5)

,PaysoùKFCafermésesrestaurants.\nPays,Entrée,Sortie,Continent,Remarques
0,Russie,2013,2022,Europe,Fermeture causée par les sanctions économiques...
1,Syrie,2006,2014,Asie,Fermeture des restaurants dans le pays à la su...
2,Andorre,1979,2014,Europe,Causes inconnues.
3,Fidji,2001,2013,Océanie,Causes inconnues.
4,Haïti,1970,1997,Amérique du Nord,Causes inconnues.

In [68]:
kfc_ferme['Restaurants']=0

In [69]:
print(kfc_ferme.columns)

Index(['PaysoùKFCafermésesrestaurants.\nPays', 'Entrée', 'Sortie', 'Continent',
       'Remarques', 'Restaurants'],
      dtype='object')

In [70]:
# Définir le nouveau nom et ordre des colonnes
new_column = {
    'PaysoùKFCafermésesrestaurants.\nPays': 'Pays'}
 

# Renommer et réorganiser les colonnes
kfc_ferme_pour_fusion= kfc_ferme.rename(columns=new_column)[['Pays', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie']]

In [71]:
kfc_ferme_pour_fusion

,Pays,Entrée,Continent,Restaurants,Remarques,Sortie
0,Russie,2013,Europe,0,Fermeture causée par les sanctions économiques...,2022
1,Syrie,2006,Asie,0,Fermeture des restaurants dans le pays à la su...,2014
2,Andorre,1979,Europe,0,Causes inconnues.,2014
3,Fidji,2001,Océanie,0,Causes inconnues.,2013
4,Haïti,1970,Amérique du Nord,0,Causes inconnues.,1997
5,Norvège,1985,Europe,0,Causes inconnues.,1990
6,Iran,1973,Asie,0,Fermeture des restaurants dans le pays à la su...,1979

In [72]:
kfc_ouvert.head(5)

,Pays,Entrée,Continent,Restaurants,Remarques
0,Chine,1987,Asie,7980,NaN
1,États-Unis,1930,Amérique,4062,NaN
2,Japon,1970,Asie,1131,NaN
3,Afrique du Sud,1971,Afrique,955,Premier pays africain à accueillir un restaura...
4,Royaume-Uni,1965,Europe,909,Premier pays européen à accueillir un restaura...

In [73]:
kfc_ouvert['Sortie']="encore ouvert"

In [74]:
print(kfc_ouvert.columns)
print(kfc_ferme_pour_fusion.columns)

Index(['Pays', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie'], dtype='object')
Index(['Pays', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie'], dtype='object')

In [114]:
# Concaténez les deux DataFrames
df_combine = pd.concat([kfc_ouvert, kfc_ferme_pour_fusion], ignore_index=True)

# Vérifiez le résultat
display(df_combine.head(5))

,Pays,Entrée,Continent,Restaurants,Remarques,Sortie
0,Chine,1987,Asie,7980,NaN,encore ouvert
1,États-Unis,1930,Amérique,4062,NaN,encore ouvert
2,Japon,1970,Asie,1131,NaN,encore ouvert
3,Afrique du Sud,1971,Afrique,955,Premier pays africain à accueillir un restaura...,encore ouvert
4,Royaume-Uni,1965,Europe,909,Premier pays européen à accueillir un restaura...,encore ouvert

In [76]:
print(kfc_ouvert.columns)
print(df_combine.columns)

Index(['Pays', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie'], dtype='object')
Index(['Pays', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie'], dtype='object')

In [77]:
# Définir le nouveau nom et ordre des colonnes
new_column = { 'Pays':'Pays_kfc'}
 

# Renommer et réorganiser les colonnes
df_combine_pour_fusion= df_combine.rename(columns=new_column)[['Pays_kfc', 'Entrée', 'Continent', 'Restaurants', 'Remarques', 'Sortie']]

df_combine_pour_fusion

,Pays_kfc,Entrée,Continent,Restaurants,Remarques,Sortie
0,Chine,1987,Asie,7980,NaN,encore ouvert
1,États-Unis,1930,Amérique,4062,NaN,encore ouvert
2,Japon,1970,Asie,1131,NaN,encore ouvert
3,Afrique du Sud,1971,Afrique,955,Premier pays africain à accueillir un restaura...,encore ouvert
4,Royaume-Uni,1965,Europe,909,Premier pays européen à accueillir un restaura...,encore ouvert
...,...,...,...,...,...,...
109,Andorre,1979,Europe,0,Causes inconnues.,2014
110,Fidji,2001,Océanie,0,Causes inconnues.,2013
111,Haïti,1970,Amérique du Nord,0,Causes inconnues.,1997
112,Norvège,1985,Europe,0,Causes inconnues.,1990
113,Iran,1973,Asie,0,Fermeture des restaurants dans le pays à la su...,1979

In [78]:
df_combine_pour_fusion=df_combine_pour_fusion[['Pays_kfc','Restaurants']]

In [79]:
df_merged = pd.merge(df_combine_pour_fusion, codepays, left_on='Pays_kfc', right_on='kfc', how='left')
df_merged

,Pays_kfc,Restaurants,id,code,alpha2,alpha3,nom_fr,nom_en,projet,kfc
0,Chine,7980,44,156,CN,CHN,Chine,China,"Chine, continentale",Chine
1,États-Unis,4062,231,840,US,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis
2,Japon,1131,112,392,JP,JPN,Japon,Japan,Japon,Japon
3,Afrique du Sud,955,201,710,ZA,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud
4,Royaume-Uni,909,228,826,GB,GBR,Royaume-Uni,United Kingdom,Royaume-Uni de Grande-Bretagne et d'Irlande du...,Royaume-Uni
...,...,...,...,...,...,...,...,...,...,...
109,Andorre,0,6,20,AD,AND,Andorre,Andorra,Andorre,Andorre
110,Fidji,0,72,242,FJ,FJI,Fidji,Fiji,Fidji,Fidji
111,Haïti,0,96,332,HT,HTI,Haïti,Haiti,Haïti,Haïti
112,Norvège,0,161,578,NO,NOR,Norvège,Norway,Norvège,Norvège
113,Iran,0,105,364,IR,IRN,République Islamique d'Iran,Islamic Republic of Iran,Iran (République islamique d'),Iran

In [80]:
lignes_nan = df_merged[df_merged['nom_fr'].isna()]['Pays_kfc']
print(lignes_nan)
lignes_nan.tolist()

Series([], Name: Pays_kfc, dtype: object)

[]

In [81]:
nombre_pays = df_merged['Pays_kfc'].nunique()
print(f"Nombre de pays : {nombre_pays}")

liste_pays = df_merged['Pays_kfc'].unique().tolist()
print(liste_pays)

Nombre de pays : 114
['Chine', 'États-Unis', 'Japon', 'Afrique du Sud', 'Royaume-Uni', 'Malaisie', 'Thaïlande', 'Indonésie', 'Australie', 'Canada', 'Inde', 'Mexique', 'Philippines', 'Pologne', 'France', 'Arabie saoudite', 'Corée du Sud', 'Allemagne', 'Égypte', 'Taïwan', 'Emirats-Arabes', 'Espagne', 'Turquie', 'Viêt Nam', 'Tchéquie', 'Italie', 'Nouvelle-Zélande', 'Roumanie', 'Pakistan', 'Singapour', 'Hongrie', 'Pays-Bas', 'Kazakhstan', 'Koweït', 'Ukraine', 'Irlande', 'Qatar', 'SriLanka', 'Oman', 'Portugal', 'Birmanie', 'Bulgarie', 'Jordanie', 'Bangladesh', 'Chypre', 'Bahreïn', 'Nigeria', 'Liban', 'Kenya', 'Maurice', 'Namibie', 'Ghana', 'Biélorussie', 'Maroc', 'Brunei', 'Botswana', 'Belgique', 'Serbie', 'Kosovo', 'Ouzbékistan', 'Grèce', 'Mozambique', 'Népal', 'Mongolie', 'Ouganda', 'Suède', 'Israël', 'Tunisie', 'Autriche', 'Arménie', 'Cambodge', 'Azerbaïdjan', 'Suisse', 'Danemark', 'Eswatini', 'Angola', 'Islande', 'Croatie', 'Lesotho', 'Irak', 'Albanie', 'Soudan', 'Slovaquie', 'Estonie', 'Lituanie', 'Zimbabwe', 'Tanzanie', "Côte d'Ivoire", 'Finlande', 'Géorgie', 'Lettonie', 'Macédoine', 'Zambie', 'Kirghizistan', 'Gabon', 'Malte', 'Sénégal', 'Moldavie', 'Malawi', 'Maldives', 'Madagascar', 'Yémen', 'Slovénie', 'Luxembourg', 'Rwanda', 'Tadjikistan', 'Algérie', 'Russie', 'Syrie', 'Andorre', 'Fidji', 'Haïti', 'Norvège', 'Iran']

In [82]:
print(df_merged3.columns)
print(df_merged.columns)

Index(['Zone', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Résidus', 'alpha3', 'nom_fr', 'nom_en', 'projet', 'kfc', 'code',
       'countryname', 'Stabilité Politique et Absence de Violence', 'iso3',
       'pays', 'distance_france'],
      dtype='object')
Index(['Pays_kfc', 'Restaurants', 'id', 'code', 'alpha2', 'alpha3', 'nom_fr',
       'nom_en', 'projet', 'kfc'],
      dtype='object')

In [83]:
df_merged4 = pd.merge(df_merged3, df_combine_pour_fusion, left_on='nom_fr', right_on='Pays_kfc', how='left')
df_merged4

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,iso3,pays,distance_france,Pays_kfc,Restaurants
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,AFG,Afghanistan,5596.702065,NaN,NaN
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,ZAF,Afrique du Sud,8980.612037,Afrique du Sud,955.0
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,ALB,Albanie,1603.327048,Albanie,8.0
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,DZA,Algérie,1336.701248,Algérie,2.0
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,DEU,Allemagne,660.545159,Allemagne,189.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,412.0,NaN,48.0,0.0,ARE,Émirats Arabes Unis,United Arab Emirates,Émirats arabes unis,Emirats-Arabes,ARE,United Arab Emirates,0.60195,ARE,Emirats arabes unis,5249.080717,NaN,NaN
168,Équateur,83.0,19.31,341.0,0.0,0.0,324.0,17.0,340.0,0.0,ECU,Équateur,Ecuador,Équateur,Équateur,ECU,Ecuador,-0.078932,ECU,Equateur,9359.005494,NaN,NaN
169,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,18100.0,NaN,21914.0,0.0,USA,États-Unis,United States,États-Unis d'Amérique,États-Unis,USA,United States,0.262138,USA,Etats-Unis d'Amérique,6015.584738,États-Unis,4062.0
170,Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,1.0,14.0,0.0,ETH,Éthiopie,Ethiopia,Éthiopie,Éthiopie,ETH,Ethiopia,-1.677231,ETH,Ethiopie,5568.811261,NaN,NaN
171,Îles Salomon,18.0,4.45,3.0,0.0,6.0,3.0,NaN,0.0,0.0,SLB,Îles Salomon,Solomon Islands,Îles Salomon,Îles Salomon,SLB,Solomon Islands,0.188089,SLB,Îles Salomon,15167.479775,NaN,NaN

In [84]:
nan_mask = df_merged4['Restaurants'].isna()

# Filtrage des lignes avec données manquantes
zones_manquantes = df_merged4[nan_mask]
# Extraction des pays avec données manquantes
pays_manquants = zones_manquantes['pays'].tolist()

# Affichage des résultats
print(f"Nombre de zones avec NaN : {len(pays_manquants)}")
print("Liste des pays concernés :", pays_manquants)

Nombre de zones avec NaN : 82
Liste des pays concernés : ['Afghanistan', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine', 'Bahamas', 'Barbade', 'Belize', 'Bolivie', 'Bosnie-Herzégovine', 'Brésil', 'Burkina Faso', 'Biélorussie', 'Bénin', 'Cap-Vert', 'Cameroun', 'Chili', 'Hong-Kong', 'Macao (Aomen)', 'Colombie', 'Congo', 'Costa Rica', 'Cuba', 'Djibouti', 'Dominique', 'Salvador', 'Swaziland', 'Russie', 'Gambie', 'Grenade', 'Guatemala', 'Guinée', 'Guinée-Bissau', 'Guyana', 'Honduras', 'Iran', 'Iraq', 'Jamaïque', 'Kiribati', 'Libéria', 'Macédoine', 'Mali', 'Mauritanie', nan, 'Birmanie', 'Nicaragua', 'Niger', 'Nigéria', 'Nouvelle-Calédonie', 'Panama', 'Paraguay', 'Polynésie française', 'Pérou', 'Centrafricaine (la République)', 'Corée du Sud', 'Moldavie', 'Dominicaine (la République)', 'Lao, Rép. dém. Pop.', 'Corée du Nord', 'Tanzanie', 'Saint-Christophe-et-Niévès', 'Saint-Vincent-et-les Grenadines', 'Sainte-Lucie', 'Samoa', 'Sao Tomé-et-Principe', nan, 'Sierra Leone', 'Sri Lanka', 'Suriname', 'Tchad', 'Tchèque (la République)', 'Timor Oriental', 'Togo', 'Trinité-et-Tobago', 'Turkménistan', 'Uruguay', 'Vanuatu', 'Venezuela', 'Viet Nam', 'Emirats arabes unis', 'Equateur', 'Ethiopie', 'Îles Salomon']

In [85]:
Pib_ppp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21732.858314,23099.940086,23889.045017,24575.660660,25791.043178,26254.742803,26004.495628,27240.802789,27412.755194,27765.653257,30245.706974,31920.239072,31888.508737,32507.084315,35059.273098,35098.797669,35937.594655,37768.566014,38904.999248,34339.939156,33729.511910,35324.072064,34095.647171,35901.653313,35657.287197,35972.866445,36117.508211,37524.928478,39287.019517,39110.276190,28976.463550,35696.309372,41649.450792,44967.344513,NaN
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1804.850022,1817.904640,1775.857707,1766.044942,1788.169958,1858.435848,1944.803372,2011.694272,2019.400066,2052.056690,2116.239445,2186.629809,2249.041461,2308.117904,2438.899261,2602.005679,2785.791865,2971.974918,3082.151418,3041.088819,3149.019598,3253.723505,3171.570276,3290.844300,3426.575818,3456.365448,3551.069323,3703.886605,3648.310911,3742.848955,3629.508004,3907.951637,4229.682100,4374.229532,NaN
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.550256,747.688045,926.507941,966.962032,971.633503,1076.087353,1121.834471,1286.949843,1333.747267,1570.698145,1765.538028,1744.060623,1988.429304,2133.241271,2224.490748,2284.075848,2213.181441,2335.795862,2432.276701,2583.485332,2561.981761,2144.166570,2122.995815,2211.280635,NaN
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1727.098432,1759.835695,1791.207291,1764.645159,1753.347098,1778.288639,1844.818905,1908.391054,1946.771876,1953.486429,2016.091791,2108.607718,2278.462262,2383.607456,2567.075465,2722.787113,2873.342123,3024.431343,3185.418787,3305.684207,3477.319749,3620.649511,3735.925373,3899.645897,4103.765604,4052.733797,3996.864267,4063.185050,4198.081042,4454.156038,4441.937338,4698.926894,5107.272939,5343.468529,NaN
4,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3340.598482,3372.596969,3143.440610,2369.241832,2374.020821,2695.805985,3013.332813,3178.494802,3254.244475,3262.975529,3326.779914,3427.853949,3824.284804,3878.507955,4262.906013,4876.287684,5404.383830,6095.999267,6651.377741,6498.169282,6607.022197,6711.390257,7354.942966,7561.039205,7990.274457,7119.726443,6843.735897,6992.728834,7347.799936,7528.382418,6450.749946,7408.126591,7924.888806,8040.702450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6352.652319,6736.761089,7179.222779,7776.473931,7897.566928,8090.759393,8200.474205,8714.919664,9157.046307,9380.940073,10018.738708,10861.053175,10532.499586,12362.414097,13950.896732,15141.245733,NaN
262,"Yemen, Rep.",YEM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1742.477195,1842.811588,1963.405279,2013.231591,2114.911294,2201.129354,2267.679126,2351.297999,2442.374845,2491.648951,2623.615319,2701.847024,2768.461045,2844.102814,2948.818467,3113.417397,3205.277886,3293.602220,3369.514350,3410.577964,3603.035056,3113.382927,3004.920914,3164.321542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6381.673364,6382.806793,6275.013265,6374.779125,6611.288645,6875.188386,7208.006032,7433.357859,7463.444552,7666.716162,8095.294289,8428.316817,8792.355886,9138.828238,9713.653485,10440.627515,11250.179556,12046.605107,12525.263030,12261.411591,12637.291222,13143.193336,12986.797668,13369.438204,13358.941719,13397.523481,13519.323510,13738.438585,13347.363483,13361.485129,12671.086244,13711.293573,14759.435072,15194.199176,NaN
264,Zambia,ZMB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1521.624169,1534.001299,1505.026479,1606.669437,1464.056117,1501.391062,1584.581663,1631.173138,1600.628252,1653.836495,1708.515526,1785.067114,1837.065852,1942.215209,2067.937285,2212.812026,2377.992398,2554.689376,2708.008197,2872.464184,3097.664005,3228.487143,3323.633122,3477.281788,3441.314976,3337.473069,3313.351216,3391.627685,3442.273072,3361.397503,3157.300093,3503.034914,3840.724505,4076.995087,NaN
265,Zimbabwe,ZWE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1790.178448,1902.877431,1721.491174,1754.985282,1955.678953,1981.351882,2189.996102,2244.933955,2290.443711,2266.874862,2226.782976,2294.297717,2102.397268,1758.500458,1682.543418,1620.789077,1593.407042,1556.145954,1290.247885,1433.924716,1734.485559,1993.435306,2271.556280,2475.290399,2553.444214,2646.653993,2796.796475,7045.357426,2614.406271,3211.471913,3510.594036,3184.785451,3560.043273,3820.362629,NaN

In [86]:
print(Pib_ppp.columns)

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                   1960,             1961,             1962,             1963,
                   1964,             1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019,
                   2020,             2021,             2022,             2023,
                   2024],
      dtype='object')

In [87]:
# Sélectionnez les colonnes "Country Code" et "2017"
Pib_ppp_2017 = Pib_ppp[["Country Code", 2017]].copy()

# Affichez les premières lignes du nouveau DataFrame


Pib_ppp_2017.rename(columns={2017: 'PIB_hab_PPA'}, inplace=True)
print(Pib_ppp_2017.head())

  Country Code   PIB_hab_PPA
0          ABW  37524.928478
1          AFE   3703.886605
2          AFG   2335.795862
3          AFW   4063.185050
4          AGO   6992.728834

In [88]:
Pib_growth_2017=Pib_growth[["Country Code", 2017]].copy()

Pib_growth_2017.rename(columns={2017: 'evolution du pib'}, inplace=True)


print(Pib_growth_2017.head())

  Country Code  evolution du pib
0          ABW          7.040657
1          AFE          0.007074
2          AFG         -0.195570
3          AFW         -0.361652
4          AGO         -3.620758

In [89]:
df_merged5 = pd.merge(df_merged4, Pib_ppp_2017, left_on='code', right_on='Country Code', how='left')
df_merged5.head(5)

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,iso3,pays,distance_france,Pays_kfc,Restaurants,Country Code,PIB_hab_PPA
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,AFG,Afghanistan,5596.702065,NaN,NaN,AFG,2335.795862
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,ZAF,Afrique du Sud,8980.612037,Afrique du Sud,955.0,ZAF,13738.438585
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,ALB,Albanie,1603.327048,Albanie,8.0,ALB,12771.034440
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,DZA,Algérie,1336.701248,Algérie,2.0,DZA,13493.560749
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,DEU,Allemagne,660.545159,Allemagne,189.0,DEU,54110.253665

In [90]:
df_merged5 = df_merged5.drop(columns=['Country Code'])

In [91]:
print(df_merged5.columns)

Index(['Zone', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Résidus', 'alpha3', 'nom_fr', 'nom_en', 'projet', 'kfc', 'code',
       'countryname', 'Stabilité Politique et Absence de Violence', 'iso3',
       'pays', 'distance_france', 'Pays_kfc', 'Restaurants', 'PIB_hab_PPA'],
      dtype='object')

In [92]:
df_merged6 = pd.merge(df_merged5, Pib_growth_2017, left_on='code', right_on='Country Code', how='left')
df_merged6.head()

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,iso3,pays,distance_france,Pays_kfc,Restaurants,PIB_hab_PPA,Country Code,evolution du pib
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,AFG,Afghanistan,5596.702065,NaN,NaN,2335.795862,AFG,-0.195570
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,ZAF,Afrique du Sud,8980.612037,Afrique du Sud,955.0,13738.438585,ZAF,0.498696
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,ALB,Albanie,1603.327048,Albanie,8.0,12771.034440,ALB,3.898112
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,DZA,Algérie,1336.701248,Algérie,2.0,13493.560749,DZA,-0.541667
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,DEU,Allemagne,660.545159,Allemagne,189.0,54110.253665,DEU,2.332866

In [93]:
df_merged6 = df_merged6.drop(columns=['Country Code'])

In [94]:
print(df_merged6.columns)

Index(['Zone', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Résidus', 'alpha3', 'nom_fr', 'nom_en', 'projet', 'kfc', 'code',
       'countryname', 'Stabilité Politique et Absence de Violence', 'iso3',
       'pays', 'distance_france', 'Pays_kfc', 'Restaurants', 'PIB_hab_PPA',
       'evolution du pib'],
      dtype='object')

In [95]:
df_pop2000_2018

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2014,2014,1000 personnes,13586.707,X,Sources internationales sûres,NaN
4407,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2015,2015,1000 personnes,13814.629,X,Sources internationales sûres,NaN
4408,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2016,2016,1000 personnes,14030.331,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN
4410,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,14438.802,X,Sources internationales sûres,NaN

In [96]:
df_pop=df_pop2000_2018[df_pop2000_2018['Année']==2017]
df_pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN

In [97]:
# Sélectionnez les colonnes "Country Code" et "2017"
df_pop_2017 = df_pop[["Zone","Valeur"]].copy()

# Affichez les premières lignes du nouveau DataFrame


df_pop_2017.rename(columns={"Valeur": "pop/1000"}, inplace=True)
print(df_pop_2017.head())

              Zone   pop/1000
17     Afghanistan  36296.113
36  Afrique du Sud  57009.756
55         Albanie   2884.169
74         Algérie  41389.189
93       Allemagne  82658.409

In [98]:
df_pop_2017

                                        Zone   pop/1000
17                               Afghanistan  36296.113
36                            Afrique du Sud  57009.756
55                                   Albanie   2884.169
74                                   Algérie  41389.189
93                                 Allemagne  82658.409
...                                      ...        ...
4333  Venezuela (République bolivarienne du)  29402.484
4352                                Viet Nam  94600.648
4371                                   Yémen  27834.819
4390                                  Zambie  16853.599
4409                                Zimbabwe  14236.595

[236 rows x 2 columns]

In [99]:
df_merged_f = pd.merge(df_merged6, df_pop_2017, left_on='projet', right_on='Zone', how='left')
df_merged_f.head(5)

,Zone_x,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,alpha3,nom_fr,nom_en,projet,kfc,code,countryname,Stabilité Politique et Absence de Violence,iso3,pays,distance_france,Pays_kfc,Restaurants,PIB_hab_PPA,evolution du pib,Zone_y,pop/1000
0,Afghanistan,5.0,1.53,57.0,NaN,29.0,55.0,2.0,28.0,0.0,AFG,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG,Afghanistan,-2.794976,AFG,Afghanistan,5596.702065,NaN,NaN,2335.795862,-0.195570,Afghanistan,36296.113
1,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,ZAF,Afrique du Sud,South Africa,Afrique du Sud,Afrique du Sud,ZAF,South Africa,-0.284804,ZAF,Afrique du Sud,8980.612037,Afrique du Sud,955.0,13738.438585,0.498696,Afrique du Sud,57009.756
2,Albanie,85.0,16.36,47.0,0.0,38.0,47.0,NaN,13.0,0.0,ALB,Albanie,Albania,Albanie,Albanie,ALB,Albania,0.373771,ALB,Albanie,1603.327048,Albanie,8.0,12771.034440,3.898112,Albanie,2884.169
3,Algérie,22.0,6.38,277.0,0.0,2.0,264.0,13.0,275.0,0.0,DZA,Algérie,Algeria,Algérie,Algérie,DZA,Algeria,-0.919614,DZA,Algérie,1336.701248,Algérie,2.0,13493.560749,-0.541667,Algérie,41389.189
4,Allemagne,71.0,19.47,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,DEU,Allemagne,Germany,Allemagne,Allemagne,DEU,Germany,0.574381,DEU,Allemagne,660.545159,Allemagne,189.0,54110.253665,2.332866,Allemagne,82658.409

In [100]:
df_final=df_merged_f[["nom_fr","Disponibilité alimentaire en quantité (kg/personne/an)","Exportations - Quantité","Importations - Quantité",
                     "Production","Stabilité Politique et Absence de Violence","distance_france",
                      "Restaurants","PIB_hab_PPA","evolution du pib",'pop/1000']].copy()

In [101]:
df_final

,nom_fr,Disponibilité alimentaire en quantité (kg/personne/an),Exportations - Quantité,Importations - Quantité,Production,Stabilité Politique et Absence de Violence,distance_france,Restaurants,PIB_hab_PPA,evolution du pib,pop/1000
0,Afghanistan,1.53,NaN,29.0,28.0,-2.794976,5596.702065,NaN,2335.795862,-0.195570,36296.113
1,Afrique du Sud,35.69,63.0,514.0,1667.0,-0.284804,8980.612037,955.0,13738.438585,0.498696,57009.756
2,Albanie,16.36,0.0,38.0,13.0,0.373771,1603.327048,8.0,12771.034440,3.898112,2884.169
3,Algérie,6.38,0.0,2.0,275.0,-0.919614,1336.701248,2.0,13493.560749,-0.541667,41389.189
4,Allemagne,19.47,646.0,842.0,1514.0,0.574381,660.545159,189.0,54110.253665,2.332866,82658.409
...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats Arabes Unis,43.47,94.0,433.0,48.0,0.60195,5249.080717,NaN,68043.231213,-2.411856,9487.203
168,Équateur,19.31,0.0,0.0,340.0,-0.078932,9359.005494,NaN,11793.479743,4.361955,16785.361
169,États-Unis,55.68,3692.0,123.0,21914.0,0.262138,6015.584738,4062.0,60322.261424,1.811476,325084.756
170,Éthiopie,0.13,NaN,1.0,14.0,-1.677231,5568.811261,NaN,2004.747597,6.618621,106399.924
171,Îles Salomon,4.45,0.0,6.0,0.0,0.188089,15167.479775,NaN,2454.044223,-0.426230,636.039

In [102]:
lignes_nan=df_final[df_final.isna().any(axis=1)]
display(lignes_nan)

,nom_fr,Disponibilité alimentaire en quantité (kg/personne/an),Exportations - Quantité,Importations - Quantité,Production,Stabilité Politique et Absence de Violence,distance_france,Restaurants,PIB_hab_PPA,evolution du pib,pop/1000
0,Afghanistan,1.53,NaN,29.0,28.0,-2.794976,5596.702065,NaN,2335.795862,-0.195570,36296.113
6,Antigua-et-Barbuda,54.10,0.0,7.0,0.0,0.732061,6709.158799,NaN,21370.309509,1.898170,95.426
7,Arabie Saoudite,43.36,10.0,722.0,616.0,-0.649626,4692.648084,NaN,51237.796944,0.835613,33101.179
8,Argentine,42.24,207.0,8.0,2161.0,0.162542,11037.166372,NaN,23385.074090,1.916396,43937.140
13,Bahamas,43.17,NaN,24.0,6.0,0.976763,7216.669383,NaN,33703.222675,2.159794,381.755
...,...,...,...,...,...,...,...,...,...,...,...
165,Zimbabwe,4.68,NaN,6.0,69.0,-0.710431,7914.783383,6.0,7045.357426,2.589320,14236.595
167,Émirats Arabes Unis,43.47,94.0,433.0,48.0,0.60195,5249.080717,NaN,68043.231213,-2.411856,9487.203
168,Équateur,19.31,0.0,0.0,340.0,-0.078932,9359.005494,NaN,11793.479743,4.361955,16785.361
170,Éthiopie,0.13,NaN,1.0,14.0,-1.677231,5568.811261,NaN,2004.747597,6.618621,106399.924
171,Îles Salomon,4.45,0.0,6.0,0.0,0.188089,15167.479775,NaN,2454.044223,-0.426230,636.039

In [103]:
nan_par_colonne = df_final.isnull().sum()
colonnes_avec_nan = nan_par_colonne[nan_par_colonne > 0]

print(colonnes_avec_nan)

Exportations - Quantité                       37
Importations - Quantité                        2
Production                                     4
Stabilité Politique et Absence de Violence     2
distance_france                                2
Restaurants                                   82
PIB_hab_PPA                                    9
evolution du pib                               7
dtype: int64

In [104]:
df_final['Exportations - Quantité']=df_final['Exportations - Quantité'].fillna(0)
df_final['Importations - Quantité']=df_final['Importations - Quantité'].fillna(0)
df_final['Restaurants']=df_final['Restaurants'].fillna(0)
df_final['Production']=df_final['Production'].fillna(0)

In [105]:
df_final['Exportations - Quantité']=df_final['Exportations - Quantité']/df_final['pop/1000']
df_final['Importations - Quantité']=df_final['Importations - Quantité']/df_final['pop/1000']
df_final['Restaurants']=df_final['Restaurants']/df_final['pop/1000']
df_final['Production']=df_final['Production']/df_final['pop/1000']

In [106]:
lignes_nan=df_final[df_final.isna().any(axis=1)]
display(lignes_nan)

,nom_fr,Disponibilité alimentaire en quantité (kg/personne/an),Exportations - Quantité,Importations - Quantité,Production,Stabilité Politique et Absence de Violence,distance_france,Restaurants,PIB_hab_PPA,evolution du pib,pop/1000
33,Taïwan,33.17,0.000338,0.006801,0.027540,0.858923,9843.398867,0.006463,NaN,NaN,23674.546
40,Cuba,23.72,0.000000,0.027515,0.002557,0.638511,7736.475379,0.000000,NaN,1.970755,11339.254
100,Serbie-et-Monténégro,15.98,0.000000,0.012748,0.006374,-0.062577,NaN,0.000000,19682.334205,4.704688,627.563
108,Nouvelle-Calédonie,38.71,0.000000,0.032473,0.003608,NaN,16739.358299,0.000000,NaN,NaN,277.150
120,Polynésie Française,47.40,0.000000,0.054328,0.003622,NaN,15711.671168,0.000000,NaN,NaN,276.102
123,Roumanie,19.37,0.003511,0.007429,0.019945,0.048514,1876.771407,0.004783,NaN,NaN,19653.969
131,République Populaire Démocratique de Corée,1.62,0.000000,0.000000,0.001691,-0.500023,8798.091664,0.000000,NaN,NaN,25429.825
138,Serbie-et-Monténégro,10.16,0.000793,0.001359,0.009627,0.083368,NaN,0.000000,17285.520344,2.909615,8829.628
152,Timor-Leste,4.24,0.000000,0.008848,0.000804,0.066383,13118.592118,0.000000,NaN,NaN,1243.258
161,Venezuela,20.28,0.000000,0.000850,0.020406,-1.252241,7616.020517,0.000000,NaN,NaN,29402.484
163,Yémen,8.53,0.000000,0.002802,0.006036,-2.934317,5309.240682,0.000036,NaN,-7.888612,27834.819

In [107]:
#df final sans nan
df_final_sans_na=df_final.dropna()

In [108]:
df_final_sans_na = df_final_sans_na.rename(
    columns={
        "Disponibilité alimentaire en quantité (kg/personne/an)": "dispo alimentaire",
        "Exportations - Quantité": "Export",
        "Importations - Quantité": "Import",
        "Stabilité Politique et Absence de Violence": "Stabilité"
    }
)
df_final = df_final_sans_na.copy()

In [109]:
df_final_sans_na

,nom_fr,dispo alimentaire,Export,Import,Production,Stabilité,distance_france,Restaurants,PIB_hab_PPA,evolution du pib,pop/1000
0,Afghanistan,1.53,0.000000,0.000799,0.000771,-2.794976,5596.702065,0.000000,2335.795862,-0.195570,36296.113
1,Afrique du Sud,35.69,0.001105,0.009016,0.029241,-0.284804,8980.612037,0.016752,13738.438585,0.498696,57009.756
2,Albanie,16.36,0.000000,0.013175,0.004507,0.373771,1603.327048,0.002774,12771.034440,3.898112,2884.169
3,Algérie,6.38,0.000000,0.000048,0.006644,-0.919614,1336.701248,0.000048,13493.560749,-0.541667,41389.189
4,Allemagne,19.47,0.007815,0.010187,0.018316,0.574381,660.545159,0.002287,54110.253665,2.332866,82658.409
...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats Arabes Unis,43.47,0.009908,0.045640,0.005059,0.60195,5249.080717,0.000000,68043.231213,-2.411856,9487.203
168,Équateur,19.31,0.000000,0.000000,0.020256,-0.078932,9359.005494,0.000000,11793.479743,4.361955,16785.361
169,États-Unis,55.68,0.011357,0.000378,0.067410,0.262138,6015.584738,0.012495,60322.261424,1.811476,325084.756
170,Éthiopie,0.13,0.000000,0.000009,0.000132,-1.677231,5568.811261,0.000000,2004.747597,6.618621,106399.924
171,Îles Salomon,4.45,0.000000,0.009433,0.000000,0.188089,15167.479775,0.000000,2454.044223,-0.426230,636.039

In [110]:
df_final_sans_na.to_csv('final2.csv', index=False)

In [111]:

import textwrap

liste_pays_etude= df_final_sans_na['nom_fr'].to_list()
# Créer une chaîne de caractères avec les pays séparés par des virgules et un espace
texte_pays = ', '.join(liste_pays_etude)

# Formater le texte pour qu'il ne dépasse pas 80 caractères par ligne (modifiable)
texte_formate = textwrap.fill(texte_pays, width=80)
print("Les 161 pays de l'étude :\n")
print(texte_formate)

Les 161 pays de l'étude :

Afghanistan, Afrique du Sud, Albanie, Algérie, Allemagne, Angola, Antigua-et-
Barbuda, Arabie Saoudite, Argentine, Arménie, Australie, Autriche, Azerbaïdjan,
Bahamas, Bangladesh, Barbade, Belgique, Belize, Bolivie, Bosnie-Herzégovine,
Botswana, Brésil, Bulgarie, Burkina Faso, Bélarus, Bénin, Cap-vert, Cambodge,
Cameroun, Canada, Chili, Hong-Kong, Macao, Chine, Chypre, Colombie, République
du Congo, Costa Rica, Croatie, Côte d'Ivoire, Danemark, Djibouti, Dominique, El
Salvador, Espagne, Estonie, Swaziland, Fidji, Finlande, France, Fédération de
Russie, Gabon, Gambie, Ghana, Grenade, Grèce, Guatemala, Guinée, Guinée-Bissau,
Guyana, Géorgie, Haïti, Honduras, Hongrie, Inde, Indonésie, République Islamique
d'Iran, Iraq, Irlande, Islande, Israël, Italie, Jamaïque, Japon, Jordanie,
Kazakhstan, Kenya, Kirghizistan, Kiribati, Koweït, Lesotho, Lettonie, Liban,
Libéria, Lituanie, Luxembourg, L'ex-République Yougoslave de Macédoine,
Madagascar, Malaisie, Malawi, Maldives, Mali, Malte, Maroc, Maurice, Mauritanie,
Mexique, Mongolie, Mozambique, Myanmar, Namibie, Nicaragua, Niger, Nigéria,
Norvège, Nouvelle-Zélande, Népal, Oman, Ouganda, Ouzbékistan, Pakistan, Panama,
Paraguay, Pays-Bas, Philippines, Pologne, Portugal, Pérou, Royaume-Uni, Rwanda,
République Centrafricaine, République de Corée, République de Moldova,
République Dominicaine, République Démocratique Populaire Lao, République-Unie
de Tanzanie, Saint-Kitts-et-Nevis, Saint-Vincent-et-les Grenadines, Sainte-
Lucie, Samoa, Sao Tomé-et-Principe, Sierra Leone, Slovaquie, Slovénie, Soudan,
Sri Lanka, Suisse, Suriname, Suède, Sénégal, Tadjikistan, Tchad, République
Tchèque, Thaïlande, Togo, Trinité-et-Tobago, Tunisie, Turkménistan, Turquie,
Ukraine, Uruguay, Vanuatu, Viet Nam, Zambie, Zimbabwe, Égypte, Émirats Arabes
Unis, Équateur, États-Unis, Éthiopie, Îles Salomon